:root {
    --soft: 'SofiaPro-Soft';
    --pro: 'Sofia-Pro';
    --light: 'SofiaPro-Light';
    --bold: 'Sofia-Pro-Bold';
}

@font-face {
    font-family: 'Sofia-Pro';
    src: url('../assets/fonts/SofiaProRegularAz.otf');

}

@font-face {
    font-family: 'Sofia-Pro-Bold';
    src: url('../assets/fonts/SofiaProBold.ttf');

}



@font-face {
    font-family: 'SofiaPro-Soft';
    src: url('../assets/fonts/SofiaProSoft.otf');
}

@font-face {
    font-family: 'SofiaPro-Light';
    src: url('../assets/fonts/SofiaPro-Light.otf');
}


.features-page-container {

    .section-1 {
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1f);
        padding-right: 9rem;
        padding-left: 9rem;
        max-width: 1600px;

        @media (max-width: 946px) {
            padding-right: 3rem;
            padding-left: 3rem;
        }

        .left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .heading {
                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                    width: 2rem;
                    height: 1.6rem;
                    margin-bottom: 1rem;
                    margin-right: 1rem;
                }

                .text {
                    font-family: var(--pro);
                    font-size: 3rem;
                    font-weight: 500;
                }

                @media (max-width: 946px) {
                    .text {
                        font-size: 2rem;
                    }
                }

            }

            @media (max-width: 870px) {
                .heading {
                    margin-top: 2rem;
                }
            }

            &>p {
                font-family: var(--light);
                font-weight: 400;
                font-size: 0.8rem;
                padding-right: 4rem;
            }

            @media (max-width: 946px) {
                &>p {
                    font-family: var(--light);
                    font-weight: 400;
                    font-size: 0.8rem;
                    padding-right: 1rem;
                }
            }
        }

        .right {

            .image {
                height: 600px;
                object-fit: cover;
                position: relative;
                background-position: center;
                background-size: cover;
                transform: scale(1.4);
            }

            @media (max-width: 1140px) {
                .image {
                    transform: scale(1.1);
                }
            }

            @media (max-width: 550px) {
                .image {
                    height: 500px;
                }

                .heading {
                    transform: scale(0.8);
                }
            }

            @media (max-width: 450px) {
                .image {
                    height: 420px;
                }

                .heading {
                    transform: scale(0.5);
                }
            }

        }

        @media (max-width: 1140px) {
            padding-right: 6rem;
            padding-left: 6rem
        }

        @media (max-width: 746px) {
            padding-right: 3rem;
            padding-left: 3rem;

            .left {
                margin-right: 0rem;
            }
        }
    }

    @media (min-width: 870px) {
        .section-1 {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .section-2 {
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1f);
        padding-right: 9rem;
        padding-left: 9rem;
        max-width: 1600px;

        @media (max-width: 946px) {
            padding-right: 3rem;
            padding-left: 3rem;
        }

        .left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .heading {
                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                    width: 2rem;
                    height: 1.6rem;
                    margin-bottom: 1rem;
                    margin-right: 1rem;
                }

                .text {
                    font-family: var(--pro);
                    font-size: 3rem;
                    font-weight: 500;
                }

                @media (max-width: 946px) {
                    .text {
                        font-size: 2rem;
                    }
                }


            }

            .heading-2 {
                font-family: var(--pro);
                font-weight: 800;
                font-size: 1rem;
            }

            @media (max-width: 870px) {
                .heading {
                    margin-top: 2rem;
                }
            }

            &>p {
                font-family: var(--light);
                font-weight: 400;
                font-size: 0.8rem;
                padding-right: 4rem;
            }

            @media (max-width: 946px) {
                &>p {
                    font-family: var(--light);
                    font-weight: 400;
                    font-size: 0.8rem;
                    padding-right: 1rem;
                }
            }

            @media (max-width: 600px) {
                &>p {
                    font-family: var(--light);
                    font-weight: 400;
                    font-size: 0.7rem;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;

            .image {
                height: 500px;
                object-fit: cover;
                position: relative;
                background-position: center;
                background-size: cover;
            }

            @media (max-width: 550px) {
                .image {
                    height: 500px;
                }

                .heading {
                    transform: scale(0.8);
                }
            }

            @media (max-width: 450px) {
                .image {
                    height: 420px;
                }

                .heading {
                    transform: scale(0.5);
                }
            }

            @media (max-width: 450px) {
                .heading {
                    transform: scale(0.5);
                }
            }

        }

        @media (max-width: 1140px) {
            padding-right: 6rem;
            padding-left: 6rem
        }

        @media (max-width: 746px) {
            padding-right: 3rem;
            padding-left: 3rem;

            .left {
                margin-right: 0rem;
            }
        }
    }

    @media (min-width: 870px) {
        .section-2 {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .section-3 {
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1f);
        padding-right: 9rem;
        padding-left: 9rem;
        max-width: 1600px;

        @media (max-width: 946px) {
            padding-right: 3rem;
            padding-left: 3rem;
        }

        .left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .heading {
                display: flex;
                align-items: center;
                justify-content: center;

                .text .icon {
                    width: 2rem;
                    height: 2rem;
                    margin-right: 1rem;
                }

                .text {
                    font-family: var(--pro);
                    font-size: 3rem;
                    font-weight: 500;
                    align-items: center;
                    line-height: 3rem;
                }

                @media (max-width: 946px) {
                    .text {
                        font-size: 2rem;
                    }
                }

                @media (max-width: 500px) {
                    .text {
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                    }
                }


            }

            .heading-2 {
                font-family: var(--pro);
                font-weight: 800;
                font-size: 1rem;
            }

            @media (max-width: 870px) {
                .heading {
                    margin-top: 2rem;
                }
            }

            &>p {
                font-family: var(--light);
                font-weight: 400;
                font-size: 0.8rem;
                padding-right: 4rem;
            }

            @media (max-width: 946px) {
                &>p {
                    font-family: var(--light);
                    font-weight: 400;
                    font-size: 0.8rem;
                    padding-right: 1rem;
                }
            }

            @media (max-width: 600px) {
                &>p {
                    font-family: var(--light);
                    font-weight: 400;
                    font-size: 0.7rem;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;

            .image {
                height: 500px;
                object-fit: cover;
                position: relative;
                background-position: center;
                background-size: cover;
            }

            @media (max-width: 550px) {
                .image {
                    height: 500px;
                }

                .heading {
                    transform: scale(0.8);
                }
            }

            @media (max-width: 450px) {
                .image {
                    height: 420px;
                }

                .heading {
                    transform: scale(0.5);
                }
            }

            @media (max-width: 450px) {
                .heading {
                    transform: scale(0.5);
                }
            }

        }

        @media (max-width: 870px) {
            .in-web-left {
                display: none !important;
            }

            .in-mobile-right {
                display: visible !important;
            }
        }

        @media (min-width: 870px) {
            .in-mobile-right {
                display: none !important;
            }

            .in-web-left {
                display: visible !important;
            }
        }


        @media (max-width: 1140px) {
            padding-right: 6rem;
            padding-left: 6rem
        }

        @media (max-width: 746px) {
            padding-right: 3rem;
            padding-left: 3rem;

            .left {
                margin-right: 0rem;
            }
        }
    }

    @media (min-width: 870px) {
        .section-3 {
            grid-template-columns: repeat(2, 1fr);

        }
    }

    // section 4

    .section-4 {
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1f);
        padding-right: 9rem;
        padding-left: 9rem;
        max-width: 1600px;

        @media (max-width: 946px) {
            padding-right: 3rem;
            padding-left: 3rem;
        }

        .left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .heading {
                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                    width: 2rem;
                    height: 1.6rem;
                    margin-bottom: 1rem;
                    margin-right: 1rem;
                }

                .text {
                    font-family: var(--pro);
                    font-size: 3rem;
                    font-weight: 500;
                }

                @media (max-width: 946px) {
                    .text {
                        font-size: 2rem;
                    }
                }

                @media (min-width: 870px) and (max-width: 1350px) {
                    .text {
                        font-size: 1.8rem;
                    }
                }


            }

            .heading-2 {
                font-family: var(--pro);
                font-weight: 800;
                font-size: 1rem;
            }

            @media (max-width: 870px) {
                .heading {
                    margin-top: 2rem;
                }
            }

            &>p {
                font-family: var(--light);
                font-weight: 400;
                font-size: 0.8rem;
                padding-right: 4rem;
            }

            @media (max-width: 946px) {
                &>p {
                    font-family: var(--light);
                    font-weight: 400;
                    font-size: 0.8rem;
                    padding-right: 1rem;
                }
            }

            @media (max-width: 600px) {
                &>p {
                    font-family: var(--light);
                    font-weight: 400;
                    font-size: 0.7rem;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            min-height: 500px;
            position: relative;
            
            &>.uDiv1 {
                position: absolute;
                border: 1px solid #F5F5F5;
                box-shadow: 5px 10px 74px rgba(0, 0, 0, 0.05);
                top: 5%;
                left: 40%;
                display: flex;
                border-radius: 2rem;
                align-items: center;
                padding: 0.3rem;
                @media (max-width: 530px) {
                top: 12%;
                left: 40%;
                }
                &>.icon {
                    width: 3rem;
                    height: 3rem;
                }
                &> div {
                    text-align: center;
                    font-family: var(--pro);
                    padding-left:0.3rem;
                    font-size: 1rem;
                }
                @media (max-width: 670px) {
                    &>.icon {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.7rem;
                    }
                }

                @media (max-width: 470px) {
                    &>.icon {
                        width: 1.4rem;
                        height: 1.4rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.6rem;
                    }
                }

                @media (min-width: 870px) and (max-width: 1342px) {
                    &>.icon {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.7rem;
                    }
                }
            }

            &>.uDiv2 {
                position: absolute;
                border: 1px solid #F5F5F5;
                box-shadow: 5px 10px 74px rgba(0, 0, 0, 0.05);
                top: 19%;
                left: 23%;
                display: flex;
                border-radius: 2rem;
                align-items: center;
                padding: 0.3rem;
                @media (max-width: 530px) {
                    top: 23%;
                    left: 20%;
                    }
                &>.icon {
                    width: 3rem;
                    height: 3rem;
                }
                &> div {
                    text-align: center;
                    font-family: var(--pro);
                    padding-left:0.3rem;
                    font-size: 1rem;
                }
                @media (max-width: 670px) {
                    &>.icon {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.7rem;
                    }
                }
                @media (max-width: 470px) {
                    &>.icon {
                        width: 1.4rem;
                        height: 1.4rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.6rem;
                    }
                }
                @media (min-width: 870px) and (max-width: 1342px) {
                    &>.icon {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.7rem;
                    }
                }
            }

            &>.uDiv3 {
                position: absolute;
                border: 1px solid #F5F5F5;
                box-shadow: 5px 10px 74px rgba(0, 0, 0, 0.05);
                top: 35%;
                left: 5%;
                display: flex;
                border-radius: 2rem;
                align-items: center;
                padding: 0.3rem;
                @media (max-width: 530px) {
                    top: 40%;
                    left: 3%;
                    }
                &>.icon {
                    width: 3rem;
                    height: 3rem;
                }
                &> div {
                    text-align: center;
                    font-family: var(--pro);
                    padding-left:0.3rem;
                    font-size: 1rem;
                }
                @media (max-width: 670px) {
                    &>.icon {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.7rem;
                    }
                }
                @media (max-width: 470px) {
                    &>.icon {
                        width: 1.4rem;
                        height: 1.4rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.6rem;
                    }
                }
                @media (min-width: 870px) and (max-width: 1342px) {
                    &>.icon {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.7rem;
                    }
                }
            }
            &>.uDiv4 {
                position: absolute;
                border: 1px solid #F5F5F5;
                box-shadow: 5px 10px 74px rgba(0, 0, 0, 0.05);
                top: 50%;
                left: 10%;
                display: flex;
                border-radius: 2rem;
                align-items: center;
                padding: 0.3rem;
                @media (max-width: 530px) {
                    top: 55%;
                    left: 6%;
                    }
                &>.icon {
                    width: 3rem;
                    height: 3rem;
                }
                &> div {
                    text-align: center;
                    font-family: var(--pro);
                    padding-left:0.3rem;
                    font-size: 1rem;
                }
                @media (max-width: 670px) {
                    &>.icon {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.7rem;
                    }
                }
                @media (max-width: 470px) {
                    &>.icon {
                        width: 1.4rem;
                        height: 1.4rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.6rem;
                    }
                }
                @media (min-width: 870px) and (max-width: 1342px) {
                    &>.icon {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.7rem;
                    }
                }
            }
            &>.uDiv5 {
                position: absolute;
                border: 1px solid #F5F5F5;
                box-shadow: 5px 10px 74px rgba(0, 0, 0, 0.05);
                top: 70%;
                left: 40%;
                display: flex;
                border-radius: 2rem;
                align-items: center;
                padding: 0.3rem;
                @media (max-width: 530px) {
                    top: 65%;
                    left: 35%;
                    }
                &>.icon {
                    width: 3rem;
                    height: 3rem;
                }
                &> div {
                    text-align: center;
                    font-family: var(--pro);
                    padding-left:0.3rem;
                    font-size: 1rem;
                }
                @media (max-width: 670px) {
                    &>.icon {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.7rem;
                    }
                }
                @media (max-width: 470px) {
                    &>.icon {
                        width: 1.4rem;
                        height: 1.4rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.6rem;
                    }
                }
                @media (min-width: 870px) and (max-width: 1342px) {
                    &>.icon {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.7rem;
                    }
                }
            }
            &>.uDiv6 {
                position: absolute;
                border: 1px solid #F5F5F5;
                box-shadow: 5px 10px 74px rgba(0, 0, 0, 0.05);
                top: 55%;
                right: 10%;
                display: flex;
                border-radius: 2rem;
                align-items: center;
                padding: 0.3rem;
                @media (max-width: 530px) {
                    top: 54%;
                    right: 10%;
                    }
                &>.icon {
                    width: 3rem;
                    height: 3rem;
                }
                &> div {
                    text-align: center;
                    font-family: var(--pro);
                    padding-left:0.3rem;
                    font-size: 1rem;
                }
                @media (max-width: 670px) {
                    &>.icon {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.7rem;
                    }
                }
                @media (max-width: 470px) {
                    &>.icon {
                        width: 1.4rem;
                        height: 1.4rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.6rem;
                    }
                }
                @media (min-width: 870px) and (max-width: 1342px) {
                    &>.icon {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.7rem;
                    }
                }
            }
            &>.uDiv7 {
                position: absolute;
                border: 1px solid #F5F5F5;
                box-shadow: 5px 10px 74px rgba(0, 0, 0, 0.05);
                top: 35%;
                right: 10%;
                display: flex;
                border-radius: 2rem;
                align-items: center;
                padding: 0.3rem;
                @media (max-width: 530px) {
                    top: 36%;
                    right: 7%;
                    }
                &>.icon {
                    width: 3rem;
                    height: 3rem;
                }
                &> div {
                    text-align: center;
                    font-family: var(--pro);
                    padding-left:0.3rem;
                    font-size: 1rem;
                }
                @media (max-width: 670px) {
                    &>.icon {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.7rem;
                    }
                }
                @media (max-width: 470px) {
                    &>.icon {
                        width: 1.4rem;
                        height: 1.4rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.6rem;
                    }
                }
                @media (min-width: 870px) and (max-width: 1342px) {
                    &>.icon {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.7rem;
                    }
                }
            }
            &>.uDiv8 {
                position: absolute;
                border: 1px solid #F5F5F5;
                box-shadow: 5px 10px 74px rgba(0, 0, 0, 0.05);
                top: 19%;
                right: 20%;
                display: flex;
                border-radius: 2rem;
                align-items: center;
                padding: 0.3rem;
                @media (max-width: 530px) {
                    top: 23%;
                    right: 15%;
                    }
                &>.icon {
                    width: 3.5rem;
                    height: 3.5rem;
                }
                &> div {
                    text-align: center;
                    font-family: var(--pro);
                    padding-left:0.3rem;
                    font-size: 1rem;
                }
                @media (max-width: 670px) {
                    &>.icon {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.7rem;
                    }
                }
                @media (max-width: 470px) {
                    &>.icon {
                        width: 1.4rem;
                        height: 1.4rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.6rem;
                    }
                }
                @media (min-width: 870px) and (max-width: 1342px) {
                    &>.icon {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                    &> div {
                        text-align: center;
                        font-family: var(--pro);
                        padding-left:0.15rem;
                        font-size: 0.7rem;
                    }
                }
            }

            
            &>.logo {
                position: absolute;
                top: 38%;
                left: 40%;
                border: 1px solid #F5F5F5;
                box-shadow: 5px 10px 74px rgba(0, 0, 0, 0.05);
                padding: 1.5rem;
                border-radius: 50%;
                &>.icon {
                    width: 2.5rem;
                    height: 2.5rem;
                }

                @media (max-width: 670px) {
                    &>.icon {
                        width: 1.7rem;
                        height: 1.7rem;
                    }
                }

                @media (max-width: 470px) {
                    padding: 0.8rem;
                    &>.icon {
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                }
                @media (min-width: 870px) and (max-width: 1342px) {
                    padding: 0.8rem;
                    &>.icon {
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                }
            }

        }

        @media (max-width: 1140px) {
            padding-right: 6rem;
            padding-left: 6rem
        }

        @media (max-width: 746px) {
            padding-right: 3rem;
            padding-left: 3rem;

            .left {
                margin-right: 0rem;
            }
        }
    }

    @media (min-width: 870px) {
        .section-4 {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // Section 5

    .section-5 {
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1f);
        padding-right: 9rem;
        padding-left: 9rem;
        max-width: 1600px;

        @media (max-width: 946px) {
            padding-right: 3rem;
            padding-left: 3rem;
        }

        .left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .heading {
                display: flex;
                align-items: center;
                justify-content: center;

                .text .icon {
                    width: 3.3rem;
                    height: 1.8rem;
                    margin-right: 1rem;
                }

                .text {
                    font-family: var(--pro);
                    font-size: 3rem;
                    font-weight: 500;
                    align-items: center;
                    line-height: 3rem;
                }

                @media (max-width: 946px) {
                    .text {
                        font-size: 2rem;
                    }
                }

                @media (max-width: 500px) {
                    .text {
                        font-size: 1.6rem;
                        line-height: 2.2rem;
                    }
                }


            }

            .heading-2 {
                font-family: var(--pro);
                font-weight: 800;
                font-size: 1rem;
            }

            @media (max-width: 870px) {
                .heading {
                    margin-top: 2rem;
                }
            }

            &>p {
                font-family: var(--light);
                font-weight: 400;
                font-size: 0.8rem;
                padding-right: 4rem;
            }

            @media (max-width: 946px) {
                &>p {
                    font-family: var(--light);
                    font-weight: 400;
                    font-size: 0.8rem;
                    padding-right: 1rem;
                }
            }

            @media (max-width: 600px) {
                &>p {
                    font-family: var(--light);
                    font-weight: 400;
                    font-size: 0.7rem;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;

            .image {
                height: 500px;
                object-fit: cover;
                position: relative;
                background-position: center;
                background-size: cover;
                transform: scale(1.8);
            }

            @media (max-width: 550px) {
                .image {
                    height: 500px;
                }

                .heading {
                    transform: scale(0.8);
                }

                .image {
                    transform: scale(1);
                }
            }

            @media (max-width: 450px) {
                .image {
                    height: 420px;
                }

                .heading {
                    transform: scale(0.5);
                }
            }

            @media (max-width: 450px) {
                .heading {
                    transform: scale(0.5);
                }
            }

            @media (max-width: 1020px) {
                .image {
                    transform: scale(1.3);
                }
            }

        }

        @media (max-width: 870px) {
            .in-web-left {
                display: none !important;
            }

            .in-mobile-right {
                display: visible !important;
            }
        }

        @media (min-width: 870px) {
            .in-mobile-right {
                display: none !important;
            }

            .in-web-left {
                display: visible !important;
            }
        }


        @media (max-width: 1140px) {
            padding-right: 6rem;
            padding-left: 6rem
        }

        @media (max-width: 746px) {
            padding-right: 3rem;
            padding-left: 3rem;

            .left {
                margin-right: 0rem;
            }
        }
    }

    @media (min-width: 870px) {
        .section-5 {
            grid-template-columns: repeat(2, 1fr);

        }
    }


}

// Investors Page
.investors-page-top {
    display: flex;
    align-items: center;
    justify-content: center;    
    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 30vw;
        & > h1 {
            font-family: var(--bold);
            font-weight: 700;
            font-size: 3.5rem;
            color: #fff;
            text-align: center;
        }
        & > p {
            font-family: var(--soft);
            font-weight: 600;
            font-size: 1.05rem;
            text-align: center;
            color: #fff;
        }

        @media (max-width: 786px) {
            & > h1 {
                font-family: var(--bold);
                font-weight: 700;
                font-size: 2.5rem;
                color: #fff;
                
            }
            & > p {
                font-family: var(--soft);
                font-weight: 600;
                font-size: 0.6rem;
                text-align: center;
                color: #fff;
            }
        }

        @media (max-width: 600px) {
            & > h1 {
                font-size: 1.5rem;
            }
            & > p {
                font-size: 0.5rem;
            }
        }
    }
    .image1 {
        width: 13vw;
        position: absolute;
        top: 8%;
    }
    .image2 {
        width: 14vw;
        top: 14%;
        right: 20%;
        position: absolute;
    }
    .image3 {
        width: 13vw;
        top: 65%;
        right: 22%;
        position: absolute;
    }
    .image4 {
        width: 7vw;
        top: 75%;
        right: 50%;
        position: absolute;
    }
    .image5 {
        width: 11vw;
        top: 65%;
        left: 20%;
        position: absolute;
    }
    .image6 {
        width: 13vw;
        top: 40%;
        left: 17%;
        position: absolute;
    }
    .image7 {
        width: 14vw;
        top: 16%;
        left: 25%;
        position: absolute;
    }
    @media (max-width: 600px) {
        .image1 {
            width: 20vw;
            top: 16%;
        }
        .image2 {
            width: 20vw;
            top: 25%;
            right: 17%;
        }
        .image3 {
            width: 20vw;
            top: 60%;
            right: 16%;
        }
        .image4 {
            width: 10vw;
            top: 45%;
            right: 15%;
        }
        .image5 {
            width: 22vw;
            top: 64%;
            left: 20%;
        }
        .image6 {
            width: 22vw;
            top: 40%;
            left: 12%;
        }
        .image7 {
            width: 20vw;
            top: 25%;
            left: 20%;
        }
    }
}